   
{% extends "main.html" %}

    {% block content %}
    <h3> List Of Registred Locations</h3>
    <ul>
    {% for item in data%}
<li><div class="row"><div class="col-4"> {{item.location_id}} </div> <div class="col-8"><button type="button" class="btn btn-success">Update</button></div> </div></li>
{% endfor %}
</ul>
    <form action = "http://localhost:5000/Locations" method = "post">
          
            <p><input type = "text" name = "location_id" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    
    {% endblock content %}