   
{% extends "main.html" %}

    {% block content %}
    <h3> List Of Registred Locations</h3>
        <ul>
            {% for item in data%}
                <li><div class="row"><div class="col-4"> {{item.location_id}} </div> <div class="col-8"><a href={{"/UpdateLocation/"+item.key +"/"}}>Update</a></div> </div></li>
            {% endfor %}
        </ul>
    <form action = "http://localhost:5000/Locations" method = "post">
        <div class="form-group">
            {{ form.location_id(class ="form-control")}}
        </div>
        <div class="form-group">
            {{ form.Submit(class ="form-control")}}
        </div>
    </form>
    
    {% endblock content %}